
.stud-assignment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
    padding: 50px;
    backdrop-filter: blur(4px);
    border-radius: 50px;
}

.assignment-instruction{
    text-align: right;
}

.assignment-instruction span{
    display: flex;
    display: inline-block;
    font-size: 5ch;
    border-radius:20px ;
    font-style: oblique;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.assignment-instruction p{
    font-size: 2.5ch;
    font-weight: 400;
    font-style: italic;
}

.assignments-table input{
    display: none;
}

.assignments-table label:hover{
    cursor: pointer;
}


.assignments-table{
    border-collapse: collapse;
    box-shadow: 0px 4px 8px black;
}


.assignments-table tr:first-child th{
    background-color: rgb(73, 118, 152);
    color: white;
    font-size: 3ch;
    border: 1px solid black;
}

.assignments-table th , .assignments-table td{
    width: 15vw;
    height: 50px;
    text-align: center;
   border: 1px solid;
}

@media screen and (max-width:768px){
    .assignments-table tr:first-child th{
        background-color: rgb(73, 118, 152);
        color: rgb(255, 255, 255);
        font-size: 2ch;
        border: 2px solid black;
    }
}
