@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');


.image-container > img {
  margin-left: 0px;
  max-width: 100%;
}

.svg1{
  width: 20%
}

.blob {
  position: absolute;
  top: 80%;
  width: 300px;
  height: auto;
  z-index: -1;
}


.hero-container {
  font-family: 'Amiri';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.container-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.container-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  direction: rtl;
}

.container-content p {
  font-size: 2.5rem;
  margin-bottom: 30px;
  direction: rtl;
}

.btn {
  max-width: 30%;
  padding: 15px 30px;
  background-color: #ff6f6f;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display :flex;
  align-items: center;
}

.btn:hover {
  background-color: #ff4d4d;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn > span {
  font-size: 2vw;
  margin-right: 10px;
}

#pWrite {
  color: blue;
  font-size: 2.5rem;
  direction: rtl;
  margin-right: 30%;
}


@media screen and (max-width: 970px) {  
  .blob{
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .hero-container {
    padding: 30px;
    flex-direction: column;
    gap: 10px;
  }

  .container-content {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .container-content h1 {
    font-size: 20px;
  }

  .btn {
    max-width: 60%;
  }

  #pWrite {
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    border-left: none;
  }
  .blob {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero-container {
    padding: 20px;
  }


  .container-content p {
    font-size: 1.5rem;
  }

  span{
    font-size: 1rem;
  }

  #pWrite {
    border-left: none;
    font-size: 1.2rem;
  }
}
