* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.course-content{
    background-color: #f5f5f5;
    margin: 10px 20px;
    padding: 40px 40px;
    border-radius: 20px ;
}

.course-content-title {
    font-size: 42px;
    font-family: monospace;
    font-weight: 800;
    text-align: right;
    margin-bottom: 20px;
    color: #333;
}

.course-content-title span {
    color: orange;
}

.accordion {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.accordion-header {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: 900;
    color: #333;
    background-color: #d8fffd;
    border-bottom: 1px solid #eee;
}

.accordion-header:hover {
    background-color: #ffc6c6;
    transition: 500ms;
}

.accordion-header i {
    font-size: 20px;
    margin-left: 10px;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #666;
}

.toggle-btn i {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.accordion.active .toggle-btn i {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: scroll;
    background-color: #f9f9f9;
    transition: max-height 0.3s ease;
    font-size: 18px;
}

.accordion.active .accordion-content {
    max-height: 500px;
    padding: 15px;
}

/* Document Items */
.document {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #e8f0fe;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px;
}

.document:hover {
    background-color: #d2e3fc;
}

.document i {
    font-size: 24px;
    margin-left: 10px;
    color: #007bff;
}

.document span {
    font-size: 24px;
    color: #333;
}

/* Nested Accordion for Document Description */
.document-content {
    max-height: 0;
    overflow: hidden;
    padding-left: 30px;
    transition: max-height 0.3s ease;
    background-color: #f1f5f9;
    margin-top: 5px;
}

.document.active .document-content {
    max-height: 200px;
}

.document-description {
    font-size: 18px;
    padding: 10px;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .accordion-header {
        font-size: 16px;
    }

    .document span {
        font-size: 14px;
    }

    .document-description {
        font-size: 12px;
    }
}
