body{
    margin: 0;
}

.exam-stats{
    margin: auto;
    margin-top: 2%;
    border: 2px solid;
    width: 70%;
    text-align: center;
    background-color: bisque;
}

.exam-stats th,td{
    padding: 5px;
    border: 1px solid;
}

