@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    background-color: #000433;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23091444' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23555555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}


.footer-left-side {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column;
}

.footer-right-side {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: column;
}

.footer-lower-part {
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: rgb(58, 58, 58);
    justify-content: center;
}

.motivation-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 70%;
    background-color: lightskyblue;
    align-self: center;
    margin-top: 20px;
    border-radius: 10%;
}

.motivation-text h3 {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    text-shadow: 2px 2px 1px white;
    margin-bottom: 20px;
    font-family: "Amiri";
}

.motivation-text p {
    font-weight: 700;
    color: white;
    font-size: 2.2ch;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    padding: 10px 10px;
    font-family: "Amiri";
}

.footer-contacts {
    height: 40%;
    width: 50%;
    background-color: rgb(31, 11, 184);
    border-radius: 10%;
    margin-bottom: 5%;
    align-self: center;
}

.mail{
    word-break: break-all;
}

.phone,
.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-lower-part p {
    display: flex;
    color: white;
    font-size: 2.3ch;
    font-weight: bold;
}

.footer-logo {
    margin-top: 5%;
    align-self: center;
}

.footer-right-side p {
    font-size: 2.7ch;
    color: white;
    text-shadow: 1px 1px 1px black;
    align-self: center;
    font-family: "Amiri";
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 3%;
    border-radius: 12%;
    justify-content: space-between;
    gap: 50px;
}

.fa-facebook {
    font-size: 9ch;
    color: blue;
}

.fa-instagram {
    font-size: 10ch;
    color: rgb(197, 85, 197);
}

.fa-youtube {
    font-size: 10ch;
    color: red;
}

.fa-whatsapp {
    margin-left: 3%;
    margin-right: 2%;
    font-size: 4.5ch;
    color: greenyellow;
}

.fa-envelope {
    margin-left: 3%;
    margin-right: 2%;
    font-size: 4ch;
    color: white/red;
}

.footer-socials a {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-rows: 40% 60% 8%;
        grid-template-columns: repeat(1, 100%);
        background-color: rgb(19, 42, 98);
    }

    .footer-left-side {
        display: flex;
        grid-row: 2/3;
        grid-column: 1/2;
        flex-direction: column;
    }

    .footer-right-side {
        display: flex;
        grid-row: 1/2;
        grid-column: 1/2;
        flex-direction: column;
    }

    .footer-lower-part {
        display: flex;
        grid-row: 3/4;
        grid-column: 1/2;
        background-color: rgb(58, 58, 58);
        justify-content: center;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        width: 60%;
    }

    .footer-lower-part p {
        display: flex;
        color: white;
        font-size: 1.7ch;
        font-weight: bold;
    }

    .footer-logo {
        margin-top: 5%;
        align-self: center;
    }

    .motivation-text {
        margin-top: 7%;
        padding-bottom: 2%;
        width: 85%;
    }
}