@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

body{
    margin: 0;
}

.SI-Inputs input:focus {
    outline: none;
}

.SI-container{
    position: relative;
    display: grid;
    grid-template-columns:60% 40%;
    padding-bottom: 50px;
}


.SI-right-side{
    grid-column: 2/3;
    background-image: url('../assets/images/SignUpBg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.SI-SIForm{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 10%;
}

.SI-HeaderFormText{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

#t1{
    font-size: 5ch;
    color: blue;
    font-weight: bold;
    font-family: "Amiri";
}

#t2{
    font-size: 3ch;
    color: black;
    font-weight: bold;
    font-family: "Amiri";
}

.SI-Inputs{
    margin-top: 1%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.email-input{
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-row: 1/2;
    grid-column: 1/2;
}

.password-input{
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-row: 2/3;
    grid-column: 1/2;
}

.SI-input-field{
    padding: 15px;
    width: 90%;
    text-align: right;
    font-size: 3ch;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    border-bottom-color:blue ;
    margin-top: 5%;
}

.SI-FooterFormText{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}


#t3{
    font-size: 3ch;
    font-family: "Amiri";
}

#SI-Email:focus,
#SI-Password:focus{
    transform: scale(1.05);
    transition: 0.4s;
    border: 2px solid blue;
}

#SI-SignInbtn{
    display: flex;
    width: 200px;
    height: 70px;
    margin-top: 2%;
    align-self: center;
    justify-self: center;
    grid-row: 3/4;
    text-align: center;
    background-color: rgb(126, 137, 210);
    font-size: 3ch;
    border-radius: 10%;
    color: white;
    transform: scale(1);
    transition: transform 0.5s;
}

#SI-SignInbtn:hover{
    background-color: rgb(32, 211, 32);
    color: white;
    transition: 0.4s;
    transform: scale(1.2);
}

.SI-error {
    font-size: 15px;
    font-family: "Amiri";
    color: red;
    margin: 0;
}

@media screen and (max-width: 780px){
    body{
        margin: 0;
    }
    
    .SI-container{
        display: flex;
        margin-top:3%;
       
    }
    
    .SI-right-side{
        display: none;
    }

    .SI-left-side{
        margin-right: 3%;
        padding-bottom: 50px;
    }

    .SI-SIForm{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .SI-HeaderFormText{
        margin-bottom: 10%;
    }
    
    .SI--Inputs{
        display: grid;
        grid-template-rows: 50% 50% 60%;
    }
    
    
    .SI-FooterFormText{
        margin-top: 60%;
        font-weight: bolder;
    }
    
    .SI-input-field{
        height: 70%;
        width: 90%;
    }
    #SI-SignInbtn{
        margin-top: 7%;
    }
}