
.dashborad-container {
    display: flex;
    min-height: 100vh;
}

.dashboard-right-side .title {
    text-align: center;
    color: rgb(255, 138, 60);
    font-size: 24px;
    flex: 1;
    margin-bottom: 10px;
}

.dashborad-left-side {
    width: 25%;
    background: linear-gradient(145deg, #7599fa, #6a89cc);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.dashboard-option {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #3c6382;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.dashboard-option:hover {
    background-color: #60a3bc;
    transform: translateY(-5px);
}

.dashboard-right-side {
    width: 75%;
    padding: 30px;
    background-color: #fff;
}

.dashboard-Tutorials {
    margin-bottom: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    width: 60%;
    background: linear-gradient(145deg, #7599fa, #6a89cc);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    color: #fff;
    font-size: 18px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
}

.close-btn:hover {
    color: #e74c3c;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex: 1;
    gap: 10;
    margin: 0 20px;
}

label {
    display: block; 
    margin-bottom: 8px; 
}

#tutorial-modal input {
    margin-bottom: 20px; 
}
#tutorial-modal textarea{
    margin-bottom: 20px; 
}
#textarea select{
    margin-bottom: 20px; 
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.modal-content textarea {
    resize: none;
    height: 120px;
}

.modal-content button {
    background-color: #27ae60;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #2ecc71;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }

    .dashborad-left-side {
        width: 100%;
    }

    .dashboard-right-side {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 15px;
    }
}









.Assignment-Quizzes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid;
    background: linear-gradient(145deg, #7599fa, #6a89cc);
    flex-direction: column;
    text-align: right;
    padding-bottom: 10px;
}

.AQ-header {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
}

.AQexam-thumbnail {
    display: flex;
    grid-row: 2/4;
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
}

.AQexam-thumbnail input {
    display: none;
}

.AQexam-thumbnail label {
    background-color: lightseagreen;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.AQexam-title {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

.AQexam-title label {
    font-size: 22px;
    font-weight: bold;
}

.AQexam-title input {
    padding: 10px 20px;
    text-align: center;
}

.AQexam-type {
    text-align: center;
    grid-row: 3/4;
    grid-column: 2/3;
}

.AQexam-type label {
    font-size: 22px;
    font-weight: bold;
}

.AQexam-type select {
    width: 90%;
    text-align: center;
}

.AQexam-description {
    grid-row: 4/5;
    grid-column: 1/3;
}

.AQexam-description label {
    font-size: 22px;
    margin-right: 3%;
    font-weight: bold;
}

.AQexam-description textarea {
    width: 95%;
    margin-right: 2%;
    text-align: right;
}

.AQexam-written-exam {
    grid-row: 5/6;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AQexam-written-exam input {
    display: none;
}

.AQexam-written-exam label {
    padding: 5%;
    border-radius: 20px;
    background-color: lightslategray;
    text-align: center;

}

.AQexam-Quizze {
    display: flex;
    grid-row: 5/6;
    grid-column: 2/3;
    align-items: center;
    justify-content: center;
}

.AQexam-Quizze label{
   font-size: 22px;
   font-weight: bold;
   margin-right: 3%;
}

.AQexam-Quizze input{
    width: 50%;
    height: 40%;
}


@media screen and (max-width:768px){
    .Assignment-Quizzes{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 10%;
    }
}














.popup-content {
    background: linear-gradient(145deg, #7599fa, #6a89cc);
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    direction: rtl;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px; 
}

h2 {
    color: #3f2e2e;
    font-size: 1.6vw;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 20px;                             
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #333;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.5vw; 
    text-align: center;
    margin-bottom: 16px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1.5vw;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    margin-bottom: 15px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #45a049;
}



@media (max-width: 768px) {
    .popup-content {
        width: 90%; 
    }

    .form-grid {
        grid-template-columns: 1fr; 
        gap: 10px; 
    }

    h2 {
        font-size: 4vw; 
    }

    label {
        font-size: 3vw; 
    }

    .submit-btn {
        font-size: 4vw; 
        padding: 10px 20px; 
    }

    #videoDescription{
        margin-bottom: 6px;
    }
    
}






.semesters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 0 auto;
    padding: 40px;
    width: 90%;
}

.semester.card {
    background-image: url('/assets/images/card-semesterbg.jpg');    
     border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.semester.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.semester h1 {
    color: #4a148c;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.semester p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

.semester ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.semester li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.semester li i {
    margin-right: 10px;
    color: #4a148c;
}

.image_container {
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: 30vh;
    transition: transform 0.4s ease;
}

.image_container img:hover {
    transform: scale(1.1);
}

.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.subscription p {
    background-color: #008f00;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;
}

.subscription a {
    background-color: #9c27b0;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.subscription a:hover {
    background-color: #7b1fa2;
    transform: scale(1.05);
}

.subscription i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .semesters {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 20px;
    }

    .semester.card {
        padding: 15px;
    }

    .subscription {
        flex-direction: column;
        padding: 10px;
    }
}
