.semesters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 0 auto;
    padding: 40px;
    width: 90%;
    justify-items: center;  /* Centering the grid items */
}

.semester.card {
    background-image: url('/assets/images/card-semesterbg.jpg');    
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    min-width: 250px; /* Ensure minimum width */
    max-width: 400px; /* Maximize card width but constrain it */
    margin: 0 auto;  /* Center the card horizontally */
}

.semester.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.semester h1 {
    color: #4a148c;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.semester p {
    color: #555;
    font-size: 16px;
    margin-bottom: 15px;
}

.semester ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.semester li {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.semester li i {
    margin-right: 10px;
    color: #4a148c;
}

.image_container {
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: 30vh;
    transition: transform 0.4s ease;
}

.image_container img:hover {
    transform: scale(1.1);
}

.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.subscription p {
    background-color: #008f00;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;
}

.subscription a {
    background-color: #9c27b0;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.subscription a:hover {
    background-color: #7b1fa2;
    transform: scale(1.05);
}

.subscription i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .semesters {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 20px;
    }

    .semester.card {
        padding: 15px;
    }

    .subscription {
        flex-direction: column;
        padding: 10px;
    }
}
