

.user-profile-container {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    gap: 10px;
    border: 2px solid rgb(184, 184, 184);
}

.user-header h2 {
    font-size: 26px;
    color: orange;
    transition: color 0.3s;
    cursor: grabbing;
}

.user-header h2:hover {
    color: #ff6f61;
}

.user-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.user-icon img:hover {
    transform: scale(1.1);
}

.user-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.user-info-icons img{
    width: 180px;
    height: 120px;
}

.user-info-content h3{
font-weight: 800;
font-size: 28px;
text-transform: uppercase;
}

.user-info-content p{
    font-size: 16px;
    font-weight: 800;
}

.stats-section {
    margin-top: 30px; 
}

.stats-section h3 {
    font-size: 26px;
    font-weight: 800;
    color: #d9534f;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.stats-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-item p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.stat-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    transition: background-color 0.3s, transform 0.3s;
}

.stat-circle:hover {
    background-color: #ff6f61;
    color: #fff;
    transform: rotate(10deg);
}

.platform-stats {
    margin-top: 30px;
}

.platform-stats h3 {
    font-size: 26px;
    font-weight: 800;
    color: #0056b3;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    text-align: center;
}



.stat-item-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f7f7f7;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.stat-item-row p{
    font-size: 22px;
    font-weight: 600;
}

.stat-item-row p:hover{
    color: gray;
}

.stat-item-row:hover {
    background-color: #bef0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-value {
    font-size: 24px;
    font-weight: 600;
    color: #d9534f;
    background-color: white;
    padding: 0px 40px;
    border: 2px solid orange;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}



@media screen and (max-width: 768px) {
    .user-info{
       display: flex;
       flex-direction: column;
    }   
    .user-info-content{
        text-align: center;
    }
    .stats-grid{
display: flex;
flex-direction: column;
    }
    
    .stat-item-row {
        gap: 10px;
    }
    .stat-item-row p{
        font-size: 12X;
        font-weight: 200;
        text-align: center;
    }
    .stat-value{
        font-size: 10X;
        font-weight: 200;
        padding: 5px 10px;        
    }
}
