body{
    margin: 0;
}

.svg-text{
    color: white;
    font-size: 5ch;
    background-color:#080cf4;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: -1%;
    margin-bottom: 0%;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .svg-text{
        color: white;
        font-size: 2ch;
        background-color:#080cf4;
        padding-top: 2%;
        padding-bottom: 1%;
        margin-top: -1%;
        margin-bottom: -1%;
        text-align: center;
        font-style: italic;
        text-shadow: 2px 2px 3px black;
    }
}